$baseColor: #3240eb;
$suppleColor: #1acb9f;
$primary: #3240eb;
$success: #23deb1;
$error: #ea6673;
$waning: #e6a23c;
$disabled: #909399;

$backgroundColor: #f0eff5;
$backgroundColor_HL: #fff;
$backgroundColor_trans: transparent;

$fontColor: #323233;
$fontColorDisabled: $disabled;
