@font-face {
  font-family: "Moon";
  src: url("~@/common/font/Moon2-0-Regular-4.otf");
}

@font-face {
  font-family: "Moon-Light";
  src: url("~@/common/font/Moon2-0-Light-3.otf");
}

@font-face {
  font-family: "Moon-Bold";
  src: url("~@/common/font/Moon2-0-Bold-2.otf");
}

@font-face {
  font-family: "QingNingYouYuan";
  src: url("~@/common/font/QingNingYouYuan-2.ttf");
}
