.menuBtn {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.menuBtn .line {
  width: 40px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menuBtn:hover {
  cursor: pointer;
}

#menuBtn {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menuBtn.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuBtn:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  top: 0;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menuBtn.is-active:before {
  border: 5px solid #ecf0f1;
}

#menuBtn.is-active .line {
  width: 38px;
}

#menuBtn.is-active .line:nth-child(2) {
  opacity: 0;
}

#menuBtn.is-active .line:nth-child(1) {
  -webkit-transform: translateY(17px);
  -ms-transform: translateY(17px);
  -o-transform: translateY(17px);
  transform: translateY(17px);
}

#menuBtn.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
  -ms-transform: translateY(-6px) rotate(90deg);
  -o-transform: translateY(-6px) rotate(90deg);
  transform: translateY(-6px) rotate(90deg);
}
